@font-face {
  font-family: "Helvetica";
  src: url("./Helvetica.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand.ttf");
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("./Quicksand-SemiBold.ttf");
}
